@layer theme, base, antd, components, utilities;

@import 'tailwindcss';

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: #F8F8F8;
  margin: 0;
  padding: 0;
}

.ant-table table {
  border-collapse: collapse;
}

.ant-table-row-selected {
  border-left: 3px solid #242edb;
}